#NEWS-section1 {
  width: 100%;
}

#NEWS-section2 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#NEWS-section2-title {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #000;
}

#NEWS-section2-title h1 {
  width: fit-content;
  text-align: center;
  border-left: #fcd443 solid 10px;
  border-right: #fcd443 solid 10px;
  padding-left: 2rem;
  padding-right: 2rem;
}

#NEWS-section2-content {
  width: 100%;
  height: 100%;
  display: flex;
}

#NEWS-section2-latest {
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 20px;
}

#NEWS-section2-latest a {
  text-decoration: none;
}

.NEWS-section2-latest-cards-row {
  width: 100%;
  height: fit-content;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.NEWS-section2-latest-card {
  width: 400px;
  height: fit-content;
  color: black;
  text-align: left;
  padding: 20px;
  margin: 20px 10px;
  border: #cecece solid 1px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.NEWS-section2-latest-card:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  /* 浮出陰影效果 */
}

.NEWS-section2-latest-card:hover img {
  transform: scale(1.1);
}

.image-container {
  width: 100%;
  height: 240px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.NEWS-section2-latest-card p {
  font-size: 14px;
  margin: 12px 0;
}

.NEWS-section2-latest-card-footer {
  height: 24px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.NEWS-section2-latest-card-footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NEWS-section2-latest-card-footer img {
  width: 20px;
  height: 16px;
  display: flex;
  opacity: 0.7;
}

.NEWS-section2-latest-card-footer small {
  margin-left: 5px;
  font-size: 16px;
}

.NEWS-section2-latest-card h2 {
  font-size: 22px;
  color: #003366;
  margin: 10px 0;
  padding: 0 10px;
}

.NEWS-section2-latest-card p {
  padding: 0 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}