#Footer {
    width: 100%;
    height: 80px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.Footer-content {
    display: flex;
    align-items: center;
}

.Footer-logo .logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.Footer-logo .logo span {
    width: 100px;
}

#Footer-notice {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
    text-align: right;
}

@media (max-width: 768px) {
    #Footer {
        height: 100px;
        padding: 0 15px;
    }

    #Footer-notice {
        font-size: 12px;
        margin-top: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #Footer-notice {
        font-size: 10px;
        margin-top: 5px;
    }
}