#Footer {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 10px 10px;
}

.Footer-logo .logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.Footer-logo .logo span {
    width: 100px;
}